#sidebar a.active {
 
    background-color: unset;
    color: #740938;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: #740938; 
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; 
}